body {
    background-color: black;
    color: aquamarine;
    text-align: center;
}

h1 {
    color: rgb(255, 224, 150);
    font-size: 70px;
    padding: auto;
}

img {
    padding: 2px;
    height: 32px;
}

table {
    border-collapse: separate ;
    border-spacing: 3px ;

    margin: 0 auto;
}

.board-container {
    margin: 0 auto;
}

.cell {
    background-color: rgb(241, 240, 196);
    color: rgb(17, 10, 122);
    border-radius: 12px;
    padding: 5px;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.closed {
    border-radius: 8px;
    background-color: bisque;
}

footer {
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 0vh;
}

.levels {
    padding-bottom: 20px;
}

.levels button{
    height: 30px;
    width: 80px;
    margin: 0 5px;
    border-radius: 8px;
    background-color: aqua;
}