
body {
    background-color: black;
    color: aquamarine;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(255, 224, 150);
    font-size: 150px;
    padding: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

img {
    padding: 2px;
    height: 30px;
}

table {
    border-collapse: separate ;
    border-spacing: 3px ;

    margin: 0 auto;
    margin-top: 10px;
}

.board-container {
    margin: 0 auto;
}

.cell {
    background-color: rgb(241, 240, 196);
    color: rgb(17, 10, 122);
    border-radius: 12px;
    padding: 5px;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.closed {
    border-radius: 8px;
    background-color: bisque;
}

.levels-container {
    padding-bottom: 20px;
}

.levels-container button {
    height: 30px;
    width: 80px;
    margin: 0 5px;
    border-radius: 8px;
    background-color: aqua;
}


.lives {
    font-size: 20px;
}

.smiley {
    cursor: pointer;
    margin-left: 40px;
    font-size: 35px;
}

.hints {
    margin-left: 40px;
}

.game-over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 400px;
    border-radius: 30px;

    width: 400px;
    height: 200px;  

    background-color: rgb(192, 247, 109);
    color: blue;
}

.game-over h3{
    font-size: 30px;
}


.game-over button{
    height: 50px;
    width: 90px;
    border-color: aquamarine;
    margin: 0 5px;
    border-radius: 8px;
    background-color: aqua;
}


.hidden {
    display: none;
}

footer {
    font-size: 50px;
    padding-top: 50px;
}